
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.azeret-mono-regular {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
/*header*/

.header-container{
    width: 1450px;
    height: 652px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #FFFFFF;
    border: #FFFFFF;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: shawdow;
}
.nav-container h1{
    color: #0D1321;
    font-weight: 800;
    opacity: 100%;
}
.btn{
    color: #0D1321;
    border-radius: 8px;
    font-weight: semibold;
    font-size: 20px;
    margin-right: 80px;
    width: 244px;
    height: 57px;
}

/*nav-down*/
.nav-down{
   background-image: url(photo/image/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: aliceblue;
    border-radius: 5px;

}
.nav-container-down{
    text-align: center;

}
.nav-container-down h1{
    font-size: 50px;
    color: #0D1321;
    font-weight: 998;
}

.nav-container-down p{
    font-size: regular;
    color: #0D1321;
}
 .btn-1{
    color: #FFFFFF;
    background-color: #0D1321;
    font-weight: semibold;
    border-radius: 8px;
    opacity: 100%;
    width: 244px;
    height: 65px;
    margin-top: 20px;
}

/*work*/
.main-container{
    width: 1140px;
    height: 1393px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


.work-header{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.work-header h1{
    color:#0D1321;
    font-weight: 800;
    opacity: 100%;
    font-size: 50px;
    padding-top: 50px;
    
}
.work-header p{
    color: #0D1321;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.work-container{
    margin-top: 100px;
}

.work-box-1{
    display: flex;
    justify-content:space-around;
}
.work-box-2{
    display: flex;
    justify-content: space-evenly;
    
}
.work-box-3{
    display: flex;
    justify-content:space-around;
}


/*inspiration*/
.main-container-2{
    width: 1140px;
    height: 775px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.Inspiration{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    
}
.Inspiration h1{
    color: #0D1321;
    font-weight: 800;
    opacity: 100%;
    font-family: azeret-mono;
    padding-top: 50px;
}
.Inspiration p{
    color: #0D1321;
    opacity: 70%;
    font-weight: regular;
    font-size: 20px;
    margin-bottom: 20px;
    bottom: auto;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

/*target*/
.target{
    text-align: center;
}
.target h1{
    color: #0D1321;
    font-weight: 800;
    opacity: 100%;
    padding-top: 50px;
}
.target p{
    color: #0D1321;
    font-weight: regular;
    font-size: 20px;
    margin-bottom: 20px;
    bottom: auto;
}
.target-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.target-box-1{
    background-color: #FF651E;
    width: 284px;
    height: 219px;
    border: #FFFFFF;
    border-radius: 5px;
    opacity: 100%;
    padding-top: 10px;
    margin-right: 20px;
    padding-top: 10px;
    padding-left: 15px;
}
.target-box-2{
    background-color: #EBEBEB;
    width: 284px;
    height: 219px;
    border: #FFFFFF;
    border-radius: 5px;
    opacity: 100%;
    padding-top: 10px;
    padding-left: 15px;
}
.target-box-3{
    background-color: #FFDF00;
    width: 284px;
    height: 219px;
    border: #FFFFFF;
    border-radius: 5px;
    opacity: 100%;
    padding-top: 10px;
    padding-left: 15px;
}
.learn-btn-1{
    text-decoration: underline;
    display: inline-block;
    color: #0D1321;
    font-weight: bold;
    opacity: 100%;
}
.learn-btn-2{
    text-decoration: underline;
    display: inline-block;
    color: #0D1321;
    font-weight: bold;
    opacity: 100%;
}
.learn-btn-3{
    text-decoration: underline;
    display: inline-block;
    color: #0D1321;
    font-weight: bold;
    opacity: 100%;
}


/*next-terget*/
.next-target{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
.next-target h1{
    color: #0D1321;
    font-weight: 852;
    opacity: 100%;
    padding-top: 50px;
}
.next-target p{
    color: #0D1321;
    font-weight: regular;
    font-size: 20px;
    margin-bottom: 20px;
    bottom: auto;
}

.next-target-container{
    justify-content: center;
}
.r-js{
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.r-js h1{
    color: #0D1321;
    font-weight: 800;
    opacity: 100%;
    font-size: 30px;
}
.r-js p{
    color: #0D1321;
    font-weight: regular;
    font-size: 20px;
    margin-bottom: 20px;
    bottom: auto;
}
.btn-4{
    border: none;
    text-decoration: underline;
    display: inline-block;
    color: #0D1321;
    font-weight: bold;
    opacity: 100%;
    background: none;
}
.n-js{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    gap: 30px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.n-js h1{
    color: #0D1321;
    font-weight: 800;
    opacity: 100%;
    font-size: 30px;
}
.n-js p{
    color: #0D1321;
    font-weight: regular;
    font-size: 20px;
    margin-bottom: 20px;
    bottom: auto;
}
.btn-5{
    border: none;
    text-decoration: underline;
    display: inline-block;
    color: #0D1321;
    font-weight: bold;
    opacity: 100%;
    background: none;
}
.m-db{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    gap: 30px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.m-db h1{
    color: #0D1321;
    font-weight: 800;
    opacity: 100%;
    font-size: 30px;
}
.m-db p{
    color: #0D1321;
    font-weight: regular;
    font-size: 20px;
    margin-bottom: 20px;
    bottom: auto;
}
.btn-6{
    border: none;
    text-decoration: underline;
    display: inline-block;
    color: #0D1321;
    font-weight: bold;
    opacity: 100%;
    background: none;
}

/*contact*/
.contact-me{
    background-image: url(photo/image/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 20px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10px;
    width: 1140px;
    height: 400px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}
.contact-me h1{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
    opacity: 100%;
    margin-top: 160px;
}
.contact-me p{
    color: #FFFFFF;
    font-weight: regular;
    opacity: 70%;
    font-size: 20px;
    margin-bottom: 10px;
}